<div class="container">
  <div class="row">

    <h3 class="col-md-3">{{recipe.name}}</h3>
    <img class="col-md-8 mainPhoto" src="{{recipe.photoUrl}}" />
  </div>
  <div class="row">

    <h3>Ingredients</h3>
    <button type="button" class="btn btn-primary" ng-click="speakIngredients()">
        Speak Ingredients
    </button>
    <button type="button" class="btn btn-primary" ng-click="nextIngredient()">
        Next Ingredient
    </button>

    <ul class="list-group ">
      <lister listType="ingredient" say="say" lineitem="lineitem" index="{{$index}}" class="col-sm-8" ng-repeat="lineitem in recipe.ingredients"></lister>
    </ul>

  </div><!-- end ingredients row -->

  <div class="row">

    <h3>Directions</h3>
    <button type="button" class="btn btn-primary" ng-click="speakDirections()">
        Speak Directions
    </button>
    <button type="button" class="btn btn-primary" ng-click="nextDirection()">
        Next Direction
    </button>
    <ul class="list-group ">
      <lister listType="direction" say="say" lineitem="lineitem" index="{{$index}}" class="col-sm-8" ng-repeat="lineitem in recipe.directions"></lister>
    </ul>

  </div><!-- end directions row -->
  <div class="row">

    <h3>Notes</h3>

    <ul class="list-group ">
      <li  class="col-sm-8 list-group-item" ng-repeat="note in recipe.notes">{{note}}</li>
    </ul>

  </div><!-- end directions row -->


</div> <!-- end container -->
